html{box-sizing: border-box;}
*{padding: 0; margin: 0; box-sizing: inherit;}

body{background:url("../Imagenes/fondo.jpg")no-repeat;
background-size:cover;} /*para que ocupe todo el body*/

/***************TODO EL CENTRO. CENTRAL*****************/
/*border: 1px solid black;*/
#CENTRAL{
width:830px;
height: 100%;
margin: 0 auto;
background-color: #175512 }
/******************CABECERA*********************/
#cabecera{background:url("../Imagenes/cabacera.jpg")no-repeat;
width:830px;
height:98px;
}
#nombre{background:url("../Imagenes/nombre.jpg")no-repeat;
width:337px;
height:95px;}

/******************MENÚ*********************/

/*darle al menú  tamaño*/
#menu{background:url("../Imagenes/fondo_menu.jpg")repeat;
height:33px;
width:100%;} 

/*a las ul del menu flotarlas y quitarle la decoracion*/
#menu ul{list-style:none;
overflow: hidden;
}
/*border: 1px solid black;
width:12.5%;*/
#menu ul li{width:calc(100%/9);
float: left;
font-family: verdana;
height: 33px;
font-size:15px;}

#menu ul li a{color: white;
text-decoration: none;
display:block; /*hace que el puntero tome todas la casilla por el enlace*/
text-align:center;/*como contenido de bloque que es*/
line-height:33px;
padding:0 0.5em;
}

/*AL PASAR POR ENCIMA*/
#menu ul li a:hover{background-color:#C1E4BA;
color:#0F340B;
height:28px;}

/*************LOGIN**********/

/*formado por 3 div flotandolo, clase login, id inicio*/
/*border:2px solid red;*/
#inicio{margin: 2% 0;
background-color:#0F340B;
width:100%;
height: 17%;
overflow: hidden;
padding-bottom:7px;
padding-left:0.75em;
 }
 /*border:2px solid red;*/
#inicio div{width: 33.333%;
float: left;
overflow: hidden;
color: white;
}

.login >div, #loginbotom{margin-top: 0.5em;}


#inicio div a{color: white;
font-size: 10px;}

#loginbotom{position:relative;
left:15%;
width: 33.333%;
float: right;}
#loginbotom > input{padding:0.25em;
font-weight:bold;
}


/*************CONTENEDOR:  PRINCIPAL Y LATERAL**********/
/*border: 1px solid green;*/
#contenedor{width: 100%;
height: 100%;

margin-left:5px;
overflow: hidden;
}


/*************PRINCIPAL*********
 border: 1px solid blue;*/
#principal{width: 60%;
float: left;
overflow: hidden;
}
/*otra forma de flotar ambos:#izq,#der{float:left} ancho 60 el otro 40*/
/*border: 1px solid red;*/
.titular{background-color:#0F340B;
color: white;
border-top-right-radius: 10px;
font-weight:bold;
padding:0.25em;
}

#imagen_hombre{background: url("../Imagenes/bg_emotion.jpg") no-repeat;
height: 180px;
width: 500px;
overflow:hidden;}

/*FORMULARIO PRINCIPAL. contiene un div id formulario, dentro 11 div*/

#formulario{margin-top: 10px;
width: 100%; }
/*color verde oscuro      background-color:#0F340B */
#gratis{color: yellow;}

.filas{
width: 100%;
background-color:#C1E4BA;
overflow: hidden;
padding-left:10px;
margin-top: 2px;
padding-top:7px ;
padding-bottom: 3px}
#formulario label{font-weight: bold; color: #0F340B;
 }
#max{color: #0F340B; }

#formulario input[type="text"]{float:right;
margin-right:30px;
width:300px;
position: relative;
bottom: 15px;
 }
#formulario input[type="password"]{float:right;
margin-right:30px;
width:300px;
position: relative;
top: -15px }

#obligatorio{font-size: 11px}

#botones{height:40px; 
padding-top: 10px;
background-color:#0F340B;
}
#sinregistro{width: 19%;
background-color: #CCC;
font-weight: bold;
padding: 0.25em;
border-radius: 5px;
vertical-align: bottom;
margin: 20px 5px ;
}
#jugargratis{width: 79%;
color: white;
font-weight: bold;
background-color:#1B6F00; 
padding: 0.25em;
border-radius: 5px;
margin-left: 5px}

/*************LATERAL*********
border: 1px solid yellowgreen;*/
#lateral{
width: 40% ;
height: 100%;
float: right;
padding-left:15px;
overflow: hidden;
}
#imagen_grafica{width:300px;}
/*
#imagen_grafica{background: url("../Imagenes/tendencia.jpg")no repeat;
height: 324px;
width: 300px;
overflow: hidden;}*/

#publicidad{color: white;
font-size: 12px}
#cuatro_publicidad{
overflow: hidden;
float:left;
}
/*PROBLEMA. NO SE ME VEN LAS IMAGENES EN CSS DE FONDO
#amazon{background:url("../Imagenes/amazon.jpg") no repeat;
width: 153px;
height: 61px;}
/*PROBLEMA. NO SE ME VEN LAS IMAGENES EN CSS DE FONDO
#google{background-image:url("../Imagenes/g_play.jpg") no repeat;}
#app{background:url("../Imagenes/app_store.jpg") no repeat;}
#wind{background:url("../Imagenes/windows_phone.jpg") no repeat;}
*/

/*************PIE**********/

#pie{background-image:url("../Imagenes/fondo_pie.jpg")repeat;
height:66px;
color: white;
position:relative;
bottom: 0;
width:100%;
padding-top: 10px;
margin-top: 1em}



#pie ul{list-style: none;
overflow: hidden;
width: 100%;
} 

#pie ul li{
float: left;
padding: 0 15px;
text-align: center;}

#pie ul li a{
color: white;
font-size:13px;
}
#pie ul li a:hover{
color: yellow;}
#pie p{text-align: center;}
