html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#central {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***************+MENU***************/
#menu {
    text-align: center;
    width: 100%
}

#menu ul {
    list-style: none;
    overflow: hidden;
    margin-left: 13%;
}

.submenu {
    position:relative;
    width: 10%;
    

}

#menu ul li {
    float: left;
    font-family: verdana;
    display: block; /* inline-block;*/
    margin: 1em;
    /*add new*/
    text-align: center;
    /*add new*/
}

#menu ul li a {
    display: block;
    /*hace que el puntero tome todas la casilla por el enlace*/
    text-align: center;
    /*como contenido de bloque que es*/
    padding: 0 0.5em;
}

