*{
padding:0;
margin:0;
box-sizing:border-box;
}
    
html{
box-sizing:inherit;
}

div {
text-align: center;
line-height:300px;
width:33.3%;
height:300px;
float:left;
border:solid 1px black;
}

div a {
display:block;
text-decoration: none;
}

